// The footer file

#wrapper-footer-full {
    width: 100%;
    min-height: 254px;
    padding: 72px 0 52px 0;
    background-color: $nero;

    .textwidget {
        color: lighten($zambezi, 20%);
        font-size: 16px;
        line-height: 26px;
        font-weight: 300;

        a {
            color: lighten($zambezi, 20%);

            &:hover {
                text-decoration: none;
                color: $white;
                transition-duration: 1s;
            }
        }
    }

    .widget_nav_menu {
        @include media-breakpoint-down (md){
            margin-top: 2em;
        }
        ul {
            list-style: none;
            padding: 0;
            margin: 0;

            li {
                a {
                    text-decoration: none;
                    color: lighten($zambezi, 20%);
                    transition: all .3s ease;
                    font-weight: 300;

                    &:hover {
                        color: lighten($zambezi, 80%);
                    }
                }
            }
        }
    }
}

#wrapper-footer {
    display: none;
}