// The footer file

#wrapper-footer-full {
    width: 100%;
    height: 254px;
    padding: 72px 0 52px 0;
    background-color: $nero;

    .textwidget {
        color: lighten($zambezi, 20%);
        font-size: 16px;
        line-height: 26px;
        font-weight: 300;

        a {
            color: lighten($zambezi,20%);

            &:hover {
                text-decoration: none;
                color: $white;
                transition-duration: 1s;
            }
        }
    }
}