// The header file

#wrapper-navbar {
  width: 100%;
  height: 100px;
  position: fixed;
  z-index: 100;

  #main-nav {
    background-color: red !important;
    width: 100%;
    height: 100%;
    padding: 0;

    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 1px;

    ul {
      li {
        text-align: center;
        a {
          padding: 0 17px;
          line-height: normal;
          text-decoration: none;
          color: $zambezi;

          &:after {
            display: none;
          }
        }
      }
    }
    .navbar-dark {
      .navbar-nav {
        .nav-link {
          color: $zambezi;
        }
      }
    }
  }
}
