// The header file
#wrapper-navbar {
    width: 100%;
    height: 100px;
    z-index: 100;
    transition: all .3s ease;
    position: relative;

    #main-nav {
        background-color: transparent !important;
        width: 100%;
        height: 100%;
        padding: 0;

        text-transform: uppercase;
        font-size: 18px;
        letter-spacing: 1px;

        ul {
            li {
                text-align: center;

                a {
                    padding: 0 17px;
                    line-height: normal;
                    text-decoration: none;
                    color: $zambezi;
                    transition: all .3s ease;

                    &:after {
                        display: none;
                    }

                    &:hover {
                        color: $primary;
                    }
                }

                &.current-menu-item {
                    a {
                        color: $primary;
                    }
                }
            }
        }
    }

    &.scrolled {
        position: fixed;
        background-color: rgba($white, 0.8);
        height: 60px;
        animation: slidein .3s forwards;

        @keyframes slidein {
            from {
                transform: translateY(-80px);
            }

            to {
                transform: translateY(0%);
            }
        }

        .navbar-brand {
            img {
                display: block;
            }
        }
    }
}

.home {
    #wrapper-navbar {
        position: fixed;

        .navbar-brand {
            img {
                display: none;
            }
        }

        &.scrolled {
            background-color: rgba($white, 0.8);
            height: 60px;

            .navbar-brand {
                img {
                    display: block;
                }
            }
        }
    }
}