// The header file
#wrapper-navbar {
    width: 100%;
    height: 100px;
    z-index: 100;
    transition: all .3s ease;
    position: relative;

    @include media-breakpoint-down(md) {
        background: $white;
        paddin: 0 1em;

        .navbar-dark .navbar-toggler-icon {
            filter: invert(100%);
        }

        .navbar-collapse {
            background-color: $white;
            padding: 2em 0;

        }

        #main-nav {
            ul {
                li {
                    text-align: left !important;
                    margin-bottom: 8px;
                }
            }
        }
    }

    .navbar-brand {
        img {
            width: 100%;
        }
    }

    #main-nav {
        background-color: transparent !important;
        width: 100%;
        height: 100%;
        padding: 0;

        text-transform: uppercase;
        font-size: 18px;
        letter-spacing: 1px;

        ul {
            li {
                text-align: center;

                a {
                    padding: 0 17px;
                    line-height: normal;
                    text-decoration: none;
                    color: $zambezi;
                    transition: all .3s ease;

                    &:after {
                        display: none;
                    }

                    &:hover {
                        color: $primary;
                    }
                }

                &.current-menu-item {
                    a {
                        color: $primary;
                    }
                }
            }
        }
    }

    &.scrolled {
        position: fixed;
        background-color: rgba($white, 0.8);
        height: 60px;
        animation: slidein .3s forwards;

        @include media-breakpoint-down(md) {
            height: auto;
            background: $white;
        }

        @keyframes slidein {
            from {
                transform: translateY(-80px);
            }

            to {
                transform: translateY(0%);
            }
        }

        .navbar-brand {
            img {
                display: block;
            }
        }
    }
}

.home {
    #wrapper-navbar {
        position: fixed;

        .navbar-brand {
            img {
                display: none;
            }
        }

        &.scrolled {
            background-color: rgba($white, 0.8);
            height: 60px;

            .navbar-brand {
                img {
                    display: block;
                }
            }
        }

        @include media-breakpoint-down(md) {
            position: relative;
            padding: 0 1em;
            .navbar-brand {
                img {
                    display: block;
                }
            }

            &.scrolled {
                position: fixed;
                background-color: $white;
                height: auto;

                .navbar-brand {
                    img {
                        display: block;
                    }
                }
            }
        }
    }
}