// The header file
#wrapper-navbar {
    width: 100%;
    height: 100px;
    z-index: 100;
    transition: all .3s ease;
    position: relative;

    @include media-breakpoint-down(md) {
        background: $white;
        padding: 0 1em;
        height: auto;

        .navbar-dark .navbar-toggler-icon {
            filter: invert(100%);
        }

        .navbar-collapse {
            background-color: $white;
            padding: 2em 0;

        }

        #main-nav {
            ul {
                li {
                    text-align: left !important;
                    margin-bottom: 8px;
                }
            }
        }
    }

    .navbar-brand {
        img {
            width: 100%;
            min-width: 180px;

            @include media-breakpoint-down(sm) {
                max-width: 250px;
            }
        }
    }

    #main-nav {
        background-color: transparent !important;
        width: 100%;
        height: 100%;
        padding: 0;

        text-transform: uppercase;
        font-size: 18px;
        letter-spacing: 1px;

        ul {
            li {
                text-align: center;

                a {
                    padding: 0 17px;
                    line-height: normal;
                    text-decoration: none;
                    color: $zambezi;
                    transition: all .3s ease;

                    &:after {
                        display: none;
                    }

                    &:hover {
                        color: $primary;
                    }

                    @include media-breakpoint-down(lg) {
                        padding: 0 8px;
                        font-size: 14px;
                    }
                }

                &.current-menu-item {
                    a {
                        color: $primary;
                    }
                }
            }

            &.dropdown-menu {
                border: 0;
                border-radius: 0;
                margin: 0;

                li {
                    padding: 0;
                    text-align: left;
                    text-transform: capitalize;

                    a {
                        padding: 1em;
                        font-size: 15px;
                        color: $zambezi;
                    }

                    &.current_page_item {
                        a {
                            color: $zambezi;
                        }
                    }
                }

                @include media-breakpoint-down(md) {
                    padding: 0 2em;

                    li {
                        a {
                            padding: 0;
                        }
                    }
                }
            }

            &.third-level-menu {
                @include media-breakpoint-up(md) {
                    display: none !important;
                }
            }

            &#mobile-menu {
                list-style: none;

                li {
                    padding: .25em 0;

                    &.current-menu-item {
                        a {
                            color: $primary;
                        }

                        .second-level-menu {
                            li {
                                a {
                                    color: $zambezi;
                                }
                            }
                        }
                    }

                    &.current-menu-parent {
                        a {
                            color: $primary;
                        }
                    }

                    &.menu-item-has-children {

                        a {
                            display: flex;
                            align-items: center;

                            &:after {
                                content: '\f107';
                                font-family: 'FontAwesome';
                                display: block;
                                margin-left: 8px;
                            }
                        }
                    }
                }

                ul {

                    &.second-level-menu {
                        padding: 0;
                        margin: 10px 0 0;
                        padding-left: 10px;
                        list-style: none;
                        display: none;

                        li {
                            font-size: 1rem;
                            text-transform: capitalize;

                            a {
                                color: $zambezi;
                                display: flex;
                                margin: auto;

                                &:after {
                                    content: '';
                                    font-family: 'FontAwesome';
                                    display: block;
                                }
                            }


                            &.current-menu-item {
                                a {
                                    color: $primary;
                                }
                            }

                            &.menu-item-has-children {
                                a {
                                    display: flex;
                                    align-items: center;

                                    &:after {
                                        content: '\f107';
                                        font-family: 'FontAwesome';
                                        display: block;
                                    }
                                }
                            }

                        }

                        &.show-item {
                            min-height: 20px;
                            height: auto;
                            opacity: 1;
                            visibility: visible;
                            display: block;
                        }
                    }

                    &.third-level-menu {
                        padding: 0;
                        padding-left: 10px;
                        list-style: none;
                        margin-top: 10px;
                        display: none;

                        li {
                            padding: 0;
                            margin: 0;

                            a {
                                color: $zambezi;
                                padding: .5em;

                                &:after {
                                    display: block;
                                    content: '' !important;
                                    font-family: 'FontAwesome';
                                }
                            }

                            &.current-menu-item {
                                a {
                                    color: $primary;
                                }
                            }
                        }

                        &.show-item {
                            min-height: 20px;
                            height: auto;
                            opacity: 1;
                            visibility: visible;
                            display: block;
                        }
                    }
                }

            }
        }


    }

    &.scrolled {
        position: fixed;
        background-color: rgba($white, 0.8);
        height: 60px;
        animation: slidein .3s forwards;

        @include media-breakpoint-down(md) {
            height: auto;
            background: $white;
        }

        @keyframes slidein {
            from {
                transform: translateY(-80px);
            }

            to {
                transform: translateY(0%);
            }
        }

        .navbar-brand {
            img {
                display: block;
                min-width: 180px;
                width: 100%;
            }
        }
    }

}

.home {
    #wrapper-navbar {
        position: fixed;

        .navbar-brand {
            img {
                display: none;
            }
        }

        &.scrolled {
            background-color: rgba($white, 0.8);
            height: 60px;

            .navbar-brand {
                img {
                    display: block;
                }
            }
        }

        @include media-breakpoint-down(md) {
            position: relative;
            padding: 0 1em;

            .navbar-brand {
                img {
                    display: block;
                }
            }

            &.scrolled {
                position: fixed;
                background-color: $white;
                height: auto;

                .navbar-brand {
                    img {
                        display: block;
                    }
                }
            }
        }
    }
}