.section-imge-text {
	img {
		margin-bottom: 2em;
	}

	.title {
		text-align: center;
		margin: 0 auto 1.5em;
		color: $black;

		h2 {
			font-weight: 500;
			font-size: 47px;
		}

		&:after {
			content: '';
			display: block;
			height: 2px;
			width: 70px;
			background-color: $primary;
			margin: 0 auto;
		}
	}

	.single-col {
		margin-bottom: 2em;

		@include media-breakpoint-down(md) {
			margin-bottom: 2em;
		}
	}
}