.section-links {
    .page-title {
        h2 {
            color: $black;
            font-size: 2rem;
        }
        
        margin-bottom: 45px;
    }

    .row {
        margin-bottom: 45px;
    }
    .link-col{
        margin-bottom: 45px;
    }
}