.section-main-banner {
    min-height: 860px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 0;
    position: relative;

    .data {
        display: flex;
        align-self: center;

        @include media-breakpoint-down(md) {
            padding: 0 1.5em;
        }

        img {
            min-width: 80px;
            width: 100%;

            @include media-breakpoint-down (md) {
                width: 75%;
            }
        }

        .logo {
            @include media-breakpoint-down (sm) {
                display: flex;
            }
        }

        .logo-text {

            display: flex;
            align-items: flex-end;
            margin-left: 1em;

            @include media-breakpoint-down (sm) {
                margin: 0
            }

            p {
                margin-bottom: 0;
                color: $primary;
                font-size: 5rem;
                font-weight: 800;
                font-family: $wrexam;

                @include media-breakpoint-down (md) {
                    font-size: 4rem;
                }

                @include media-breakpoint-down (sm) {
                    font-size: 2.5rem;
                }
            }
        }
    }

    .announcemet-wrapper {
        flex: 0 1 100%;
        max-width: 1140px;
        position: relative;
        margin: 0 auto 3em;
        height: auto;
        width: 100%;

        @include media-breakpoint-up (xl){
            left: -5em;
        }

        @include media-breakpoint-down(md) {
            padding: 0 1.5em;
        }

        .announcemet {
            padding: 1em;
            display: flex;
            align-items: center;
            background-color: $primary;
            color: $white;
            font-weight: 300;
            width: 100%;

            @include media-breakpoint-down(md) {
                margin: 0;
                flex-direction: column;
                justify-content: center;
                padding: 1.5em 1em;
            }

            div {
                padding: 1em;
            }

            .button {
                a {
                    color: $white;
                    text-transform: uppercase;
                    text-decoration: none;
                    border: 2px solid $white;
                    border-radius: 4px;
                    padding: 16px 23px;
                    font-size: 10px;
                    font-weight: 700;
                    letter-spacing: 1px;
                    transition: all .3s ease;

                    &:hover {
                        color: $primary;
                        background-color: $white;
                    }
                }
            }

        }
    }
    .data-information{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: relative;
    }

}