.section-main-banner {
    max-height: 2000px;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .data {
        display: flex;
        align-self: center;

        img {
            width: 100%;
        }

        .logo-text {

            display: flex;
            align-items: flex-end;
            margin-left: 1em;

            p {
                margin-bottom: 0;
                color: $primary;
                font-size: 60px;
                font-style: italic;
                font-weight: 800;
            }
        }
    }
}