    .title {
        margin: 45px 0;
        color: $black;
        opacity: 0;
        animation: showTitle 1s linear forwards;

        @keyframes showTitle {
            0% {
                opacity: 0;
            }

            100% {
                opacity: 1;

            }

        }
    }

    .posts-col {
        transition: transform .28s, opacity .28s;

        &.slide-out {
            transform: translate3d(0, 100px, 0);
            opacity: 0;
        }




        @for $i from 1 to 100 {
            .grid-view div:nth-child(#{$i}) {
                opacity: 0;
                animation: slideIn 0.1s linear forwards;
                animation-delay: $i * 0.15s;

                @keyframes slideIn {
                    0% {
                        opacity: 0;
                        transform: translate3D(50px, 100px, 0);
                    }

                    100% {
                        opacity: 1;
                        transform: 0;

                    }

                }


            }
        }

        .grid-view {
            display: flex;
            flex-wrap: wrap;

            .grid-item {
                transition: all .3s ease;
                height: 250px;
                flex: 0 1 auto;
                margin-bottom: 30px;
                border-radius: 5px;
                opacity: 1;



                &.full-box,
                &.one-two {
                    height: 500px;
                    flex-direction: column;

                    a {
                        .single-item {
                            flex-direction: column;

                            &.image-item {
                                .image {
                                    flex: 0 1 80%;

                                }
                            }
                        }
                    }
                }
                &.hide-image{
                    div.image{
                        display: none;
                    }
                }


                a {
                    color: $black;
                    text-decoration: none;
                    display: block;
                    background: $white;
                    height: 100%;
                    border-radius: 5px;
                    transition: all .3s ease;
                    overflow: hidden;

                    .title {
                        font-size: 18px;
                        margin: 0;
                        margin-bottom: .5em;
                        font-weight: 600;
                        color: $black;

                        hyphens: auto;
                    }

                    font-size: 14px;
                    font-weight: 400;
                    color: $zambezi;

                    .single-item {
                        overflow: hidden;
                        height: 100%;
                        transition: all .3s ease;
                        padding: 1.25em;

                        &.image-item {
                            display: flex;
                            height: 100%;
                            border-radius: 3px;

                            .image {
                                max-width: 100%;
                                width: 100%;
                                height: inhereit;
                                background-size: cover;
                                background-position: center;
                                flex: 0 1 50%;
                            }

                            .data {
                                padding: 1.25em;
                                flex: 0 1 50%;
                            }
                        }
                    }

                    &:hover {
                        .single-item {
                            box-shadow: 0 0 15px 0 rgba($zambezi, 0.25);
                        }
                    }
                }

                &.small-image {
                    a {
                        .single-item {
                            flex-direction: column;

                            .image {
                                flex: 0 1 75%;
                                background-position: top;
                            }

                            .data {
                                flex: 0 1 25%;
                            }
                        }
                    }
                }

            }
        }
    }


    .sidebar-col {

        @include media-breakpoint-up(md) {
            margin-top: 135px;
            padding-bottom: 5em;
        }
        .affix{
            position: sticky;
            top: 5em;
        }

        h3 {
            color: $black;
            font-size: 2rem;
            margin-bottom: 1em
        }
        .sidebar-search{
            margin-bottom: 2em;
            input{
                &:hover,
                &:focus,
                &:active{
                    outline: none;
                    box-shadow: 0 0 15px 4px rgba($primary, 0.05);
                }
            }
        }

        .sidebar-navigation {

            ul {
                padding: 0;
                margin: 0;
                list-style: none;

                li {
                    margin-bottom: .5em;
                    position: relative;

                    &.current-menu-item {
                        a {
                            color: $primary;
                        }

                        .sub-menu {
                            height: 0;
                            opacity: 0;
                            visibility: visible;
                            animation: slideDown 1s ease forwards;

                            @keyframes slideDown{
                                0%{
                                    height: 0;
                                    opacity: 0;
                                }
                                100%{
                                    height: 100%;
                                    opacity: 1;
                                }
                            }
                        }
                    }

                    &.current-category-parent {
                        .sub-menu {
                            height: 100%;
                            opacity: 1;
                            visibility: visible;
                        }
                    }

                    &.menu-item-has-children {
                        a {
                            &:after {
                                content: ' \f107';
                                display: block;
                                font-family: 'FontAwesome';
                                margin-left: 5px;
                            }
                        }
                    }

                    a {
                        font-weight: 500;
                        color: $zambezi;
                        text-decoration: none;
                        font-size: 1.15rem;
                        transition: all .3s ease;
                        display: flex;
                        align-items: center;

                        &:hover {
                            color: $primary;
                        }

                        &.active {
                            color: $primary;
                        }


                    }

                }

                &.sub-menu {
                    padding-left: 15px;
                    height: 0;
                    opacity: 0;
                    visibility: hidden;
                    transition: all .3s ease;

                    li {
                        a {
                            font-size: 14px;

                            &:after {
                                content: '';
                                display: block;
                            }
                        }

                    }
                }
            }
        }

        .social-links {
            margin-top: 50px;

            .links {
                a {
                    font-size: 2rem;
                    margin-right: 10px;
                    color: $zambezi;
                    transition: all .3s ease;

                    &:hover {
                        color: $primary;
                    }
                }
            }
        }
    }