    .title {
        margin: 45px 0;
        color: $black;
    }

    .grid-view {
        display: flex;
        flex-wrap: wrap;

        .grid-item {
            transition: all .3s ease;
            height: 250px;
            flex: 0 1 auto;
            margin-bottom: 30px;
            border-radius: 5px;

            &.full-height {
                height: 500px;
                flex-direction: column;

                a {
                    .single-item {
                        flex-direction: column;

                        &.image-item {
                            .image {
                                flex: 0 1 80%;

                            }
                        }
                    }
                }
            }

            a {
                color: $black;
                text-decoration: none;
                display: block;
                background: $white;
                height: 100%;
                border-radius: 5px;
                transition: all .3s ease;

                .title {
                    text-transform: uppercase;
                    font-size: 18px;
                    margin: 0;
                    margin-bottom: .5em;
                    font-weight: 600;
                    color: $black;
                }

                font-size: 14px;
                font-weight: 400;
                color: $zambezi;

                .single-item {
                    overflow: hidden;
                    height: 100%;
                    transition: all .3s ease;

                    &.image-item {
                        display: flex;
                        height: 100%;
                        border-radius: 3px;

                        .image {
                            max-width: 100%;
                            width: 100%;
                            height: inhereit;
                            background-size: cover;
                            background-position: center;
                            flex: 0 1 50%;
                        }

                        .data {
                            padding: 1.25em;
                            flex: 0 1 50%;
                        }
                    }

                    &.no-image-item {
                        padding: 1.25em;
                    }
                }

                &:hover {
                    .single-item {
                        box-shadow: 0 0 15px 0 rgba($zambezi, 0.25);
                    }
                }
            }

        }
    }

    .sidebar-col {
        @include media-breakpoint-up(md) {
            margin-top: 135px;
        }

        h3 {
            text-transform: uppercase;
            color: $black;
            font-weight: 600;
            font-size: 2rem;
            margin-bottom: 1em
        }

        .sidebar-navigation {

            ul {
                padding: 0;
                // padding-left: 15px;
                margin: 0;
                list-style: none;

                li {
                    margin-bottom: .5em;

                    a {
                        font-weight: 500;
                        color: $zambezi;
                        text-decoration: none;
                        font-size: 1.15rem;
                        transition: all .3s ease;

                        &:hover {
                            color: $primary;
                        }
                    }
                }
            }
        }

        .social-links {
            margin-top: 50px;

            .links {
                a {
                    font-size: 2rem;
                    margin-right: 10px;
                    color: $zambezi;
                    transition: all .3s ease;

                    &:hover {
                        color: $primary;
                    }
                }
            }
        }
    }