.grid-view {
	display: flex;
	flex-wrap: wrap;

	a {
		color: $black;
		text-decoration: none;

		.grid-item {
			background-color: $white;
			padding: 1.25em;
			transition: all .3s ease;
			height: 150px;
			overflow: hidden;
			flex: 0 1 auto;
			margin-bottom: 15px;

			.title {
				text-transform: uppercase;
				font-size: 18px;
				margin-bottom: 1.5em;
				font-weight: 600;
				color: $black;
			}

			font-size: 14px;
			font-weight: 400;
			color: $zambezi;
		}

		&:hover {
			.single-post {
				box-shadow: 0 0 20px 0 rgba($zambezi, 0.25);
			}
		}
	}
}