    .title {
        margin: 45px 0;
        color: $black;
    }

    .posts-col {

        .grid-view {
            display: flex;
            flex-wrap: wrap;

            @for $i from 1 to 15 {
                .grid-item {
                    transition-delay: $i * 0.125s;
                }
            }


            .grid-item {
                transition: all .3s ease;
                height: 250px;
                flex: 0 1 auto;
                margin-bottom: 30px;
                border-radius: 5px;
                transition: all 2s ease;
                opacity: 0;


                &.full-height {
                    height: 500px;
                    flex-direction: column;

                    a {
                        .single-item {
                            flex-direction: column;

                            &.image-item {
                                .image {
                                    flex: 0 1 80%;

                                }
                            }
                        }
                    }
                }


                a {
                    color: $black;
                    text-decoration: none;
                    display: block;
                    background: $white;
                    height: 100%;
                    border-radius: 5px;
                    transition: all .3s ease;

                    .title {
                        text-transform: uppercase;
                        font-size: 18px;
                        margin: 0;
                        margin-bottom: .5em;
                        font-weight: 600;
                        color: $black;
                    }

                    font-size: 14px;
                    font-weight: 400;
                    color: $zambezi;

                    .single-item {
                        overflow: hidden;
                        height: 100%;
                        transition: all .3s ease;

                        &.image-item {
                            display: flex;
                            height: 100%;
                            border-radius: 3px;

                            .image {
                                max-width: 100%;
                                width: 100%;
                                height: inhereit;
                                background-size: cover;
                                background-position: center;
                                flex: 0 1 50%;
                            }

                            .data {
                                padding: 1.25em;
                                flex: 0 1 50%;
                            }
                        }

                        &.no-image-item {
                            padding: 1.25em;
                        }
                    }

                    &:hover {
                        .single-item {
                            box-shadow: 0 0 15px 0 rgba($zambezi, 0.25);
                        }
                    }
                }

                &.small-image {
                    a {
                        .single-item {
                            flex-direction: column;

                            .image {
                                flex: 0 1 75%;
                                background-position: top;
                            }

                            .data {
                                flex: 0 1 25%;
                            }
                        }
                    }
                }

                &.show-item {
                    height: 250px;
                    width: 100%;
                    opacity: 1;
                }

                &.hide-item {
                    height: 0;
                    width: 0;
                    opacity: 0;
                    margin: 0;
                    padding: 0;
                }

            }
        }
    }


    .sidebar-col {
        @include media-breakpoint-up(md) {
            margin-top: 135px;
            padding-bottom: 5em;
        }

        h3 {
            text-transform: uppercase;
            color: $black;
            font-weight: 600;
            font-size: 2rem;
            margin-bottom: 1em
        }

        .sidebar-navigation {

            ul {
                padding: 0;
                margin: 0;
                list-style: none;

                li {
                    margin-bottom: .5em;
                    position: relative;

                    &.active {
                        a {
                            color: $primary;
                        }
                    }

                    a {
                        font-weight: 500;
                        color: $zambezi;
                        text-decoration: none;
                        font-size: 1.15rem;
                        transition: all .3s ease;
                        display: flex;
                        align-items: center;

                        &:hover {
                            color: $primary;
                        }
                        &.active{
                            color: $primary;
                        }

                        &:after {
                            content: ' \f107';
                            display: block;
                            font-family: 'FontAwesome';
                            margin-left: 5px;
                        }
                    }

                }

                &.sub-menu {
                    padding-left: 15px;

                    li {
                        a {
                            font-size: 14px;

                            &:after {
                                content: '';
                                display: block;

                            }
                        }

                    }
                }
            }
        }

        .social-links {
            margin-top: 50px;

            .links {
                a {
                    font-size: 2rem;
                    margin-right: 10px;
                    color: $zambezi;
                    transition: all .3s ease;

                    &:hover {
                        color: $primary;
                    }
                }
            }
        }
    }