.single-post {
    .container {
        outline: none;
    }

    main {
        outline: none;
        color: $black;
        padding: 0 2em;

        br {
            display: none;
        }
    }

    h3 {
        font-size: 1rem;

        span {
            font-size: 1rem;
            font-weight: 400;
        }
    }

    p {
        margin: 0;
        font-weight: 400;
    }


    .collapseomatic_content {
        margin-bottom: 1.5em;
        padding: 0 1em;
    }

    .entry-header {
        margin-bottom: 2em;
        color: $black;
    }

    .entry-footer {
        margin: 2em 0;

        .tags-links {
            a {
                color: $black;
                transition: all .3s ease;
                text-decoration: none;

                &:hover {
                    color: $primary;
                }
            }
        }
    }
    .sidebar-col{
        margin: 1em 0 auto;
    }
}

.comments-area {
    .main-form-group {
        display: flex;
        align-items: center;
        align-content: center;

        .form-group {
            flex: 0 1 50%;

            &:first-of-type {
                margin-right: 1em;
            }
        }
    }

    .comments-title {
        text-transform: uppercase;
        font-size: 1rem;
        font-weight: 500;
        margin-bottom: 2em;
    }

    .comment-list {
        list-style: none;
        padding: 0;
        margin: 0 0 2em;

        article {
            background: $white;
            padding: 1.5em 5em;

            .comment-meta {
                .fn {
                    text-transform: uppercase;
                    font-weight: 600;
                    letter-spacing: 1px;
                    margin-bottom: .5em;
                    font-size: 15px;
                    line-height: 1.5em;
                }

                a {
                    pointer-events: none;
                    cursor: default;
                    color: $zambezi;
                    margin-bottom: .5em;
                    display: block;
                }

                span {
                    display: none;
                }
            }

            p {
                color: $zambezi;
            }
        }
    }
    .comment-respond{
    	.comment-form-comment{
    		margin-top: .75em;
    	}
    	.reply-title{
    		margin-bottom: 1em;
    	}
    	        input,
        textarea {
            border: 0;
            outline: none;
            box-shadow: none;
            border-radius: 0;
            font-size: 14px;
            padding: 24px;
            resize: none;
        }
        input[type="submit"]{
        	width: auto;
        	height: auto;
        	float: right;
        	margin-top: 2em;
        	border: 2px solid $primary;
        	font-weight: 600;
        	text-transform: uppercase;
        	color: $black;
        	padding: 10px 15px;
        	font-size: 12px;
        	letter-spacing: 1px;
        	border-radius: 4px;
        	background: transparent;
        	&:hover,
        	&:active,
        	&:focus{
        		color: $white;
        		background: $primary;

        	}

        }
    }
}
















