// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here

body {
    font-family: $nunito;
    color: $zambezi;
}

section {
    margin: 0 -15px 100px;
    font-family: $raleway;
    padding: 0 2em;
    .title{
    	margin-bottom: 1.5em;
    }
}