// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here

body {
	font-family: $nunito;
	color: $zambezi;
	background-color: $white-smoke;
}
#fullpage{
	overflow: hidden;
}

section {
	margin: 0 -15px 100px;
	padding: 0 2em;

	.title {
		font-family: $raleway;
		margin-bottom: 1.5em;
	}

	.subtitle {
		margin-bottom: 3em;

		p {
			font-family: $nunito;
			font-size: 16px;
			font-weight: 400;
			margin-bottom: 0;
			line-height: 22px;
		}
	}
}

@mixin placeholder {
  ::-webkit-input-placeholder {@content}
  :-moz-placeholder           {@content}
  ::-moz-placeholder          {@content}
  :-ms-input-placeholder      {@content}  
}