// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here

body {
    font-family: $nunito;
    color: $zambezi;
}

section {
    min-height: 550px;
    margin: 0 -15px 100px;
}