// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder.
// Just copy a variable from src/sass/bootstrap4/_variables.scss, paste it here and edit the value.

@font-face {
    font-family: "Wrexham Script" sans-serif;
    src: url("../../fonts/Wrexham-Script.ttf.ttf") format('truetype'), 
    	 url("../../fonts//Wrexham-Script.ttf.svg#wrexham_script") format('svg');
}

// Font import
@import url("https://use.typekit.net/oxw1zzj.css");
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700&display=swap');

// Colors
$primary: #C35555; // To be changed
$fuzzy-wouzzy-brown: #C35555; // The main color
$zambezi: #585858; // The grey color (font)
$whisper: #EEEEEE; // The grey color (background-color)
$nero: #262626; // The dark grey color
$black: #000000; // The black color
$white: #FFFFFF; // The white color

//Font
$nunito: 'nunito-sans', sans-serif;
$wrexam: "Wrexham Script",sans-serif;
$raleway: "Raleway",sans-serif;
